$grey: #6b717f;
$white:#fff;
$pink:#BF4080;
$light-grey:#8C8C8C;
$black:#000;
$red: red;
$orange: orange;
$green:green;
$general-padding:16px;
        $gradient:
rgb(112, 39, 160)

rgb(245, 111, 173);